---
---

// Variables
@import "utilities/variables";

// Utility styles
@import "utilities/mixins";
@import "utilities/utils";
@import "utilities/syntax-highlighting";
@import "utilities/animations";

// Core
@import "base/normalize";
@import "base/global";
@import "base/layout";
@import "base/typography";

// Components
@import "components/navigation";
@import "components/pagination";
@import "components/code";
@import "components/message";

// Pages
@import "pages/landing";
@import "pages/posts";

.container {
  max-width: 44rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

p a {
  font-weight:bold;
  text-decoration:underline;
}

.nav-main {
  ul {
    display:flex;
    max-width: 42rem;
    margin:auto;
  }

  a.siteheader {
	font-family: Georgia,Times,serif;
	font-weight: bold;
	font-style: italic;
	color: #174ad6;
	font-size: 1.5rem;
	}
}

li.sm_about {
	@media (max-width: 38em) {
    	display: none;
    }
}

li.lg_about {
	@media (min-width: 38em) {
    	display: none;
    }
}

li.siteheader {
	margin-right: auto;
}


.yt-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0.5rem;
}

.yt-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.yt-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}