---
---

// Variables
@import "utilities/variables";

// Utility styles
@import "utilities/mixins";
@import "utilities/utils";
@import "utilities/syntax-highlighting";
@import "utilities/animations";

// Core
@import "base/normalize";
@import "base/global";
@import "base/layout";
@import "base/typography";

// Components
@import "components/navigation";
@import "components/pagination";
@import "components/code";
@import "components/message";

// Pages
@import "pages/landing";
@import "pages/posts";

.container {
  max-width: 44rem;
}

p a {
  font-weight:bold;
  text-decoration:underline;
}

.nav-main {
  ul {
    display:flex;
    max-width: 42rem;
    margin:auto;
  }

  a.siteheader {
	font-family: Gotham,Times,serif;
	font-weight: bold;
	font-style: italic;
	color: #174ad6;
	font-size: 1.5rem;
	}
}

li.sm_about {
	@media (max-width: 38em) {
    	display: none;
    }
}

li.lg_about {
	@media (min-width: 38em) {
    	display: none;
    }
}

li.siteheader {
	margin-right: auto;
}

